@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Sora", sans-serif;
  color: #fffffe;
}

body {
  background-color: #0F0E17;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.header__body {
  margin-top: 60px;
}
.header__img {
  display: flex;
  justify-content: center;
}
.header__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.31;
  text-align: center;
  margin-top: 60px;
}
.header__main-stats {
  margin-top: 60px;
}

.main-stats {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
.main-stats > div {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
}
.main-stats__value {
  font-weight: 100;
  font-size: 72px;
  line-height: 1.5;
}
.main-stats .average-time {
  color: #FFE62D;
}
.main-stats .record-time {
  color: #28DB5A;
}

.main__body {
  margin-bottom: 80px;
}
.main__results {
  margin-top: 100px;
}

.results__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.results__left {
  display: flex;
}
.results__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
}
.results__counter {
  margin-left: 5px;
  color: #a7a9be;
}
.results__form span {
  padding: 0 5px;
}
.results__input {
  max-width: 80px;
  text-align: center;
  padding: 8px;
  background-color: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  border: 1px solid #a7a9be;
  color: #fffffe;
  border-radius: 16px;
}
.results__button {
  margin-left: 20px;
  padding: 8px 32px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  border: 1px solid #fffffe;
  color: #fffffe;
  border-radius: 32px;
  transition: 0.3s ease;
}
.results__button i {
  margin-left: 10px;
}
.results__button:hover {
  background-color: #fffffe;
  color: #0f0e17;
}
.results__body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
.item-result {
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid #a7a9be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 30px;
}
.item-result:first-child {
  margin-top: 30px;
}
.item-result:not(:last-child) {
  margin-bottom: 20px;
}
.item-result__data {
  display: flex;
  gap: 50px;
}
.item-result__number {
  color: #a7a9be;
}
.item-result__time {
  display: flex;
  width: 40%;
  gap: 50px;
}
.item-result__actual-time {
  flex: 0 0 30%;
}
.item-result__record-difference {
  flex: 0 0 30%;
}
.item-result__record-difference_red {
  color: #f25f4c;
}
.item-result__record-difference_green {
  color: #28DB5A;
}
.item-result__average-difference {
  flex: 0 0 30%;
}
.item-result__average-difference_red {
  color: #f25f4c;
}
.item-result__average-difference_green {
  color: #28DB5A;
}
.item-result__delete-btn {
  height: 24px;
  width: 24px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  border-color: transparent;
  color: #fffffe;
  position: relative;
  transition: 0.3s ease;
}
.item-result__delete-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-result__delete-btn:hover {
  background: rgba(242, 95, 76, 0.1);
  border-radius: 20px;
  color: #f25f4c;
}

/*# sourceMappingURL=style.css.map */
