@import "reset";
@import "../colors/colors";
@import "../fonts/fonts";
@import "vars-and-mixins";

body {
  background-color: #0F0E17;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.header {
  &__body {
    margin-top: 60px;
  }

  &__img {
    display: flex;
    justify-content: center;
  }

  &__title {
    @include headline;
    text-align: center;
    margin-top: 60px;
  }

  &__main-stats {
    margin-top: 60px;
  }
}

.container {
}

.main-stats {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;

  & > div{
    text-align: center;
    @include title;
  }

  &__title {
  }

  &__value {
    font-weight: 100;
    font-size: 72px;
    line-height: 1.5;
  }

  .average-time {
    color: #FFE62D;
  }

  .record-time {
    color: #28DB5A;
  }
}

.main {
  &__body {
    margin-bottom: 80px;
  }

  &__results {
    margin-top: 100px;
  }
}

.results {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__left {
    display: flex;
  }

  &__title {
    @include title;
  }

  &__counter {
    margin-left: 5px;
    color: $paragraph;
  }

  &__right {
  }

  &__form {
    span {
      padding: 0 5px;
    }
  }

  &__input {
    max-width: 80px;
    text-align: center;
    padding: 8px;
    background-color: transparent;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    border: 1px solid $paragraph;
    color:  $headline;
    border-radius: 16px;
  }



  &__button {
    margin-left: 20px;
    padding: 8px 32px;
    @include formStyles;
    font-size: 14px;
    border: 1px solid $headline;
    color:  $headline;
    border-radius: 32px;

    i {
      margin-left: 10px;
    }

    @include transition;
    &:hover {
      background-color: $headline;
      color: $background;
    }
  }

  &__body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
  }

  &__item {
  }
}

.item-result {
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid $paragraph;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 30px;

  &:first-child {
    margin-top: 30px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__data {
    display: flex;
    gap: 50px;
  }

  &__number {
    color: $paragraph;
  }

  &__date {
  }

  &__time {
    display: flex;
    width: 40%;
    //justify-content: space-between;
    gap: 50px;
  }

  &__actual-time {
    flex: 0 0 30%;
  }

  &__record-difference {
    flex: 0 0 30%;

  }

  &__average-difference {
    flex: 0 0 30%;

  }

  &__delete-btn {
    height: 24px;
    width: 24px;
    padding: 10px;
    font-size: 16px;
    @include formStyles;
    border-color: transparent;
    color: #fffffe;
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include transition;
    &:hover {
      background: rgba(242, 95, 76, 0.1);
      border-radius: 20px;
      color: $red;


    }
  }
}