@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700&display=swap');

body {
  font-family: 'Sora', sans-serif;
  color: $headline;
}

@mixin headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.31;
}

@mixin title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.18;
}